body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    font-family: 'Sora', sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0.5em 1em 0.2em 0.3em;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
}
  
li a:hover {
    background-color: #9564ff;
}

h1 {
    color: #9564ff;
    text-align: center;
    font-size: 2.7em;
}

hr {
    width: 50%;
}

#namelist {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.nameitem {
    margin: 2em 0;
    padding: 1em 0;
    background-color: #4d4d4d;
    border-radius: 5px;
    color: white;
    user-select: none;
    text-align: left;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
}

h3 {
    width: 25%;
    justify-self: center;
    margin: 0 auto;
    text-align: center;
}

.bidbutton {
    padding: 5px 15px;
    background-color: #9564ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 25px 0px rgba(149,100,255,0.55);
    -moz-box-shadow: 0px 0px 25px 0px rgba(149,100,255,0.55);
    box-shadow: 0px 0px 25px 0px rgba(149,100,255,0.55);
    transition: 0.3s;
}

.bidbutton:hover {
    background-color: #7544cf;
}

@media screen and (max-width: 1350px) {

    hr {
        width: 80%;
    }

    #namelist {
        width: 80%;
        text-align: center;
    }

    .nameitem {
        padding: 1em 0 1em 0;
    }

    h3 {
        padding: 0 1em;
        margin: 0 auto;
        text-align: center;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 550px) {
    li {
        float: none;
        border-bottom: white solid 1px;
        margin: 0;
    }

    li a {
        width: 100%;
        padding: 5px 0;
    }
    
    #namelist {
        width: 100%;
    }

    .nameitem {
        border-radius: 0;
        font-size: 0.8em;
        margin-bottom: 0;
    }

    .nameitem h3:first-child {
        font-size: 1.6em;
    }
}