
body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    font-family: 'Sora', sans-serif;
}

/* NAVBAR */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0.5em 1em 0.2em 0.3em;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
}
  
nav li a:hover {
    background-color: #9564ff;
}

#name {
    text-align: center;
    color: #9564ff;
    font-size: 50px;
}

#time {
    margin-top: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 0.3em;
    background-color: #ffa500;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.1s;
}

.dot:hover {
    background-color: #bf6500;
}

.nameinfo {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: #3d3d3d;
    padding: 10px 0;
    color: white;
    overflow: hidden;
}

hr {
    width: 30%;
    color: #9933ff;
}

#bidbutton h2 {
    width: 90%;
    padding: 5px 0px 0px 0px;
    background-color: #9564ff;
    margin: 0 auto;
    -webkit-box-shadow:0px 0px 58px 0px rgba(149,100,255,1);
    -moz-box-shadow: 0px 0px 58px 0px rgba(149,100,255,1);
    box-shadow: 0px 0px 58px 0px rgba(149,100,255,1);
}

#bidbutton h2:hover {
    background-color: #7544cf;
}

#bidbutton {
    margin: 5px 0px 2px 0px;
}

#via {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

footer {
    font-size: 10px;
    text-align: center;
    color: #9564ff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
